<!DOCTYPE html>
<html lang="en">
    <head>
<% include templates/header.ejs %>
    </head>
    <body>       

        <nav><h2 class="nav__title">BLOG</h2></nav>

        
        
        <h2>ABOUT</h2>



    </body>
</html>