<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>MY BLOG</title>
        <link rel="stylesheet" type="text/css" href="css/stylesheet.css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    <body>       

        <nav><h2 class="nav__title">BLOG</h2></nav>

        <% include templates/header.ejs %>
        
        <h2>ABOUT</h2>



    </body>
</html>