<!DOCTYPE html>
<html lang="en">
    <head>
<% include templates/header.ejs %>
    </head>
    <body>         

        <div class="cms-header"><h2 class="nav__title">Posts</h2>

            <div class="create-post__buttons">
                <button class="button--post ajax-request" href="#" name="/create-post">New Post</button>                
            </div>
        </div>

        <% for(var i=0; i<blogPosts.length; i++) {%>

        <div class="cms-row">            
            <h4 class="cms-row__title"><%= blogPosts[i].title %></h4>
            <a class="ajax-request" name="/update-post/<%= blogPosts[i]._id  %>">Edit</a>
            <a class="ajax-request" name="/delete-post/<%= blogPosts[i]._id  %>">Delete</a>
        </div>

        <% } %>



        <script>

            $( ".ajax-request" ).click(function() {
                console.log($(this).attr('name'));
                $.ajax({ url: $(this).attr('name') // need to attach id here
                        , type: 'GET'
                        , dataType: 'html'
                       })
                    .done(function(data) {
                    $('#container').html(data);
                })
                    .fail(function() {
                    console.log("Something went wrong!");
                });
            });

            

        </script>


    </body>

</html>