<!DOCTYPE html>
<html lang="en">
    <head>
        <% include templates/header.ejs %>
    </head>
    <body>         

        <div class="cms-header"><h2 class="nav__title">Social</h2>

            <div class="create-post__buttons">
                <button class="button--post" type="submit" form="update-social">Update</button>
            </div>
        </div>
        
        <p class="header-instruction">Enter the links to your social media accounts eg: <i>https://www.facebook.com/user1</i></p>

        <form action="/update-social/<%= myId %>" method="POST" id="update-social">

            <div class="social-entry">
                <label for="facebook">Facebook</label>
                <input class="inputs" name="facebook" type="text" value="<%= socialPlatforms[0].facebook %>"/>
            </div>

            <div class="social-entry">
                <label for="twitter">Twitter</label>
                <input class="inputs" name="twitter" type="text" value="<%= socialPlatforms[0].twitter %>"/>
            </div>

            <div class="social-entry">
                <label for="instagram">Instagram</label>
                <input class="inputs" name="instagram" type="text" value="<%= socialPlatforms[0].instagram %>"/>
            </div>

        </form>


        <script>
            $( ".ajax-request" ).click(function() {
                console.log('select_link clicked');

                $.ajax({
                    type: 'POST',                     
                    contentType: 'application/json',
                    url: $(this).attr('name'),						
                    success: function() {                            
                        console.log('success'); 

                    }
                });
            });		
            

        </script>


    </body>

</html>