<!DOCTYPE html>
<html lang="en">
    <head>
        <% include templates/header.ejs %>
    </head>
    <body>         

        <div class="cms-header-main"><h2 class="nav__title">Emails</h2>

            <div class="create-post__buttons">
                <button class="button--post ajax-request" href="#" name="/create-post">New Post</button>                
            </div>
        </div>

        <% for(var i=0; i<emailList.length; i++) {%>

        <div class="cms-row">            
            <div class="cms-row__top">
                <h5 class="cms-row__title"><%= emailList[i].email %></h5>
                <p> Authenticated: <%= emailList[i].authenticated %></p>

            </div>              
            <a id="select_link" class="ajax-request" name="/delete-email/<%= emailList[i]._id  %>">Delete</a>
        </div>
        <% } %>

        <script>

            $( ".ajax-request" ).click(function() {
                console.log('select_link clicked');

                // colour and fade away the row that is been deleted
                $(this).parents('.cms-row').css('background-color','var(--red)');
                $(this).closest('.cms-row').fadeOut(600, function(){ 
                    $(this).remove();
                });

                $.ajax({
                    url: $(this).attr('name'),	
                    type: 'POST',                     
                    contentType: 'application/json',

                    success: function() {                            
                        console.log('success'); 
                    }
                });
            });		


        </script>


    </body>

</html>