<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
    </head>
    <body>         

        <nav class="cms-header"><h2 class="nav__title">Posts</h2>

            <div class="create-post__buttons">
                <button class="button--post new-post" href="#" name="/create-post">New Post</button>                
            </div>
        </nav>

        <% for(var i=0; i<blogPosts.length; i++) {%>

        <div class="cms-row">            
            <h4 class="cms-row__title"><%= blogPosts[i].title %></h4>  
            <a href="/update-post/<%= blogPosts[i]._id  %>">Edit</a>
            <a href="/delete/<%= blogPosts[i]._id  %>">Delete</a>
        </div>

        <% } %>



        <script>

            $( ".new-post" ).click(function() {
                console.log($(this).attr('name'));
                $.ajax({ url: $(this).attr('name')
                        , type: 'GET'
                        , dataType: 'html'
                       })
                    .done(function(data) {
                    $('#container').html(data);
                })
                    .fail(function() {
                    console.log("Something went wrong!");
                });
            });

        </script>


    </body>

</html>