<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>MY BLOG</title>
        <link rel="stylesheet" type="text/css" href="css/stylesheet.css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    <body>           

        <% for(var i=0; i<blogPosts.length; i++) {%>

        <div class="cms-row">            
                <h4 class="cms-row__title"><%= blogPosts[i].title %></h4>  
                <a href="/update-post/<%= blogPosts[i]._id  %>">Edit</a>
                <a href="/delete/<%= blogPosts[i]._id  %>">Delete</a>
        </div>

        <% } %>

       

    </body>

</html>