
<!DOCTYPE html>
<html lang="en">
    <head>
<% include templates/header.ejs %>

    </head>
    <body>

        <div class="cms-header"><h2 class="nav__title">Delete Post</h2>

            <div class="create-post__buttons">
                <button class="button--post" type="submit" form="post-form">Delete</button>
                <button class="button--cancel cancel-post" href="#" name="/cms-posts">Cancel</button>
            </div>
        </div>

        <div class="create-post">


            <form action="/delete-post/<%= blogPosts[0]._id %>" method="POST" id="post-form">
                <div class="create-post__top">
                    <div class="input">
                        <label for="title">Title</label>
                        <h4> <%= blogPosts[0].title %> </h4>
                    </div>
                </div>              
            </form>

        </div>

        <script>
            $( ".cancel-post" ).click(function() {
                console.log($(this).attr('name'));
                $.ajax({ url: $(this).attr('name')
                        , type: 'GET'
                        , dataType: 'html'
                       })
                    .done(function(data) {
                    $('#container').html(data);
                })
                    .fail(function() {
                    console.log("Something went wrong!");
                });
            });
                                    
        </script>
    </body>
</html>



