<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>MY BLOG</title>
        <link rel="stylesheet" type="text/css" href="css/stylesheet.css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    <body>



        <nav><h2 class="nav__title">BLOG</h2></nav>

        <% include templates/header.ejs %>

        <h1 class="header">MY BLOG</h1>

        <div class="panel">

            <section class="panel__left">

                <% for(var i=0; i<blogPosts.length; i++) {%>


                <div class="card">
                    <div class="card__left">
                        <a href="/post/<%= blogPosts[i]._id  %>">
                            <h4 class="card__title"><%= blogPosts[i].title %></h4>
                            <p class="card__body"><%= blogPosts[i].post %></p>
                        </a>
                        <div class="card__author">Martin Brown Feb 28, 2018</div>
                        <div class="card__date"></div>
                    </div>

                    <div class="card__right">
                        <div class="card__container">                        
                            <img class="card__image" src="https://via.placeholder.com/150" class="card__container__image" alt="">
                            <div class="card__container__category">Ui/Ux</div>
                        </div>
                    </div>
                </div>

                <% } %>

            </section>


            <section class="panel__right">
                <section class="side__left">
                    <div class="email">
                        <h3>Follow By Email</h3>
                        <p>Get all the latest post delivered straight to your inbox</p>
                        <input class="email__input" type="text" placeholder="Email Address">
                        <input class="email__submit" type="submit" value="SUBSCRIBE">
                    </div>
                </section>

                <section class="side__right">
                    <div class="side-header">
                        <h6>POPULAR POSTS</h6>
                    </div>

                    <div class="small_card">
                        <div class="small_card__left">
                            <img src="https://via.placeholder.com/110" alt="">
                        </div>
                        <div class="small_card__right">
                            <h6>Exploiting Developer Infrastructure Is Ridiculously Easy</h6>
                            <p>Feb 28, 2018</p>
                        </div>
                    </div>


                    <div class="side-header">
                        <h6>SOCIAL LINKS</h6>
                    </div>

                    <div class="social">
                        <div  onclick="document.location='http://www.instagram.com'" class="social__link"><img class="social__link__image" src="images/instagram.svg" alt="fa"></div>

                        <div onclick="document.location='http://www.facebook.com'" class="social__link"><img class="social__link__image" src="images/facebook.svg" alt="fa"></div>

                        <div  onclick="document.location='http://www.twitter.com'" class="social__link"><img class="social__link__image" src="images/twitter.svg" alt="fa"></div>              
                    </div>

                </section>

            </section>

        </div>

    </body>
</html>