<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>MY BLOG</title>
        <base href="/">
        <link rel="stylesheet" type="text/css" href="css/stylesheet.css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700|Montserrat:400,500|Vollkorn" rel="stylesheet">
        
        
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    <body>       

        <nav><h2 class="nav__title">BLOG</h2></nav>

        <div class="post-container">
            <div class="post-title">
                <h2 class=""><%= blogPosts[0].title %></h2>
            </div>        

            <p class="post-body"><%= blogPosts[0].post %></p>  
        </div>



    </body>
</html>