
<!DOCTYPE html>
<html lang="en">
    <head>
        <% include templates/header.ejs %>
    </head>
    <body>

        <div class="cms-header"><h2 class="nav__title">Update Post</h2>

            <div class="create-post__buttons">
                <button class="button--post" type="submit" form="update-form">Publish</button>
                <button class="button--cancel cancel-post" href="#" name="/cms-posts">Cancel</button>
            </div>
        </div>

        <div class="create-post">


            <form action="/update-post/<%= blogPosts[0]._id %>" method="POST" id="update-form" onsubmit="return validateForm()"><!--
<input type="text" placeholder="title" name="title">
<input type="text" placeholder="post" name="post">-->

                <div class="create-post__top">

                    <div class="input">
                        <label for="title">Title <small class="title-error">(Enter Title)</small></label>
                        <input id="title" name="title" type="text" value="<%= blogPosts[0].title %>" />
                    </div>

                    <div class="input image-upload">
                        <label for="image">Image <small>(optional)</small></label>
                        <input id="image-upload" name="image" type="text" value="<%= blogPosts[0].image %>"/>
                    </div>

                </div>

                <div class="create-post__bottom">
                    <div class="input">
                        <label for="post">Post<small class="post-error">(Enter Post)</small></label>              
                        <textarea name="post" rows="8" cols="50"><%= blogPosts[0].post %></textarea>
                    </div>
                </div>

            </form>

        </div>

        <script>
            function validateForm() {
                var title = document.forms["update-form"]["title"].value;
                var post = document.forms["update-form"]["post"].value;                        

                var error = false;

                if (!title.replace(/\s/g, '').length) {
                    $('.title-error').css("display", "inline-block");                    
                    error = true;
                } else {
                    $('.title-error').css("display", "none");
                }

                if (!post.replace(/\s/g, '').length) {
                    $('.post-error').css("display", "inline-block");                    
                    error = true;
                } else {
                    $('.post-error').css("display", "none");
                }

                if(error === true) {
                    return false;
                }
            }

            $( ".cancel-post" ).click(function() {
                console.log($(this).attr('name'));
                $.ajax({ url: $(this).attr('name')
                        , type: 'GET'
                        , dataType: 'html'
                       })
                    .done(function(data) {
                    $('#container').html(data);
                })
                    .fail(function() {
                    console.log("Something went wrong!");
                });
            });
        </script>
    </body>
</html>
