* {
    box-sizing: border-box;
}

:root {
    --main-bg-color: hsla(210, 30%, 96%, 1); 
    --white: hsla(0, 0%, 100%, 1); 
    --black-1: hsla(0, 0%, 14%, 1); 
    --text-grey: hsla(0, 0%, 30%, 1); 
    --grey-3: hsla(0, 0%, 38%, 1); 
    --grey-4: hsla(0, 0%, 45%, 1); 
    --grey-5: hsla(0, 0%, 88%, 1); 
    --red: hsla(0, 100%, 65%, 1); 
    --super-light-grey: hsla(0, 0%, 93%, 1);
    --lightest-blue: hsla(223, 47%, 97%, 1);
}
/*mediumturquoise*/

body {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p{
    padding: 0px;
    margin: 0px;
}

h1 {
    font-size: 34px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 18px;
}

p {
    font-size: 16px;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer; 
}


.index {
    background-color: var(--main-bg-color); 
}

/*NAV*/
nav {

}

nav .nav__title {
    font-weight: 600;
}

.nav__title {
    display: block;
    color: white;
    
    padding: 14px 16px;
    text-decoration: none;
}

.nav .cog-icon {
    vertical-align: middle;
    max-height: 25px;
    max-width: 160px;

}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    height: 45px;
}

.nav li {
    float: left; 
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
}

.nav a:hover:not(.active) {
    background-color: #111;
}

.nav img {    
    vertical-align: middle;
    max-height: 45px;
    max-width: 160px;
    height: 20px;
}

nav h2 {
    padding: 12px 12px 12px 12px;
    margin: 0px;
    color: var(--white);
}


/*header*/
.header {
    text-align: center;
    padding: 100px 100px;
}

/*panel*/
.panel {
    width: 100%;
    height: 100%;
    background-color: var(--white);     
    padding: 5px;
}

/*card*/
.card {
    position: relative;
    width: 100%;
    height: 100px;
    margin-bottom: 30px;

}

.card__title {
    margin-bottom: 5px;

}

.card__body {
    margin-bottom: 10px;
    overflow: hidden!important;
    max-height: 40px!important;
    text-overflow: ellipsis!important;
    display: -webkit-box!important;
    -webkit-line-clamp: 2!important;
    -webkit-box-orient: vertical;
}

.card__author {
    margin-bottom: 2px;   
    position: absolute;
    bottom: 0px;  
    font-size: 14px;
}

.card__date {

}

.card__comments {

}

.card__container {
    width: 100px;
    height: 100px;
    background-color: gainsboro;
    float: right;  
}

.card__left {
    width: calc(100% - 100px);    
    float: left;
    padding-right: 20px;
}

.card__left p {
    color: var(--grey-4);
}

.card__right {    
    width: 100px;
    background-color: royalblue;
    float: right;
    box-sizing: border-box;
}

.card__image {
    float: right;
    object-fit: cover;
    width: 100px;
    height: 100%;
    overflow: hidden;
    overflow: hidden;
    background-color: gainsboro;    
}

.card__container__category {
    display: none;
}

.side {
    margin: 10px;
}

/*email*/
.email {
    width: 100%;   
    height: 225px;
    background-color: var( --main-bg-color);
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    position: relative;

    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
}

.email p {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 16px;
}

.email__input {
    display: block;
    margin: auto;
    margin-bottom: 20px; 
    padding: 14px 22px;
    width: 100%;
    border: none;
    height: 30px;        
    box-shadow: 0px 2px 0px hsla(0,0%,100%,.2), inset 0px 1px 1px hsla(0,0%,0%,0.2);
}

.email__submit {

}

input[type=submit] {
    background-color: var(--red);
    border: none;
    color: var(--white);
    padding: 14px 22px;
    text-decoration: none;
    cursor: pointer;
    margin: auto;    
    width: 100%;
}

.flip {
    transform: rotateX(-180deg);
}

.email {
    height: 240px;
}

.email .front {
    backface-visibility: hidden;
    overflow: hidden;
}

.email .back {
    position: absolute;
    bottom: 0px;
    left: 0px;
    line-height: 240px;
    text-align: center;
    transform: rotateX(180deg);
}

.back {
    width: 100%;
    padding: 0px;
    margin: 0px;
}



/*side headers*/
.side-header {
    width: 100%;
    height: 44px;
    background-color: var(--main-bg-color);
    margin-top: 30px;
    margin-bottom: 20px;
}

.side-header h6 {
    line-height: 44px;
    text-align: center;
}

/*side popular posts*/
.small_card {
    width: 100%;
    height: 110px;

    background-color: bisque;
}

.small_card__left {
    width: 110px;
    background-color: violet;
    height: 110px;
    float: left;
}

.small_card__right {
    position: relative;
    width: calc(100% - 110px);
    background-color: gold;
    height: 110px;
    padding: 10px;
    float: left;
}

.small_card__right h6 {
    font-size: 16px;

}

.small_card__right p {
    position: absolute;
    bottom: 0px;
    padding-bottom: 5px;
}

/*social links*/
.social {
    display: flex; /* or inline-flex */
    flex-wrap: wrap;
    justify-content: flex-start;
}


.social > .social__link {

    padding: 5px;
    width: calc(33.3333% - 7px);
    height: 40px;
    margin: 0px 10px 10px 0px;
    text-align: center;
    line-height: 65px;
    font-size: 30px;     
    border: 1px solid var(--grey-4);
    cursor: pointer;

}


.social__link:nth-child(1n) {
    margin-left: 0px;
}

.social__link:nth-child(3n){
    margin-right: 0px;
}


/*
.social__link:nth-child(4n) {
margin-left: 0px;
}
*/

/*
.social__link:nth-child(4n) {
margin-right: 5px;
}
*/

.social__link__image {
    width: 30px;
    height: 25px;
    vertical-align: super; 
    position: relative;
    top: -5px;
}


/* CMS */
/* CMS */
/* CMS */

.cms {
    width 700px;
    margin: auto;
}

.side-nav {
    width: 210px;
    height: 100%;
    background-color: var(--lightest-blue);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    color: white;
}

.side-nav__title {
    text-align: center;
    font-weight: 400;
    color: var(--red);
    margin-bottom: 20px;

}

.side-nav__title--cms {
    font-weight: 100;
}

.side-nav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: var(--black-1);
    display: block;
}

.main {
    margin-left: 210px; 
    padding: 0px 10px;
    background-color: var(--white);
    height: 100vh;
}


.cms-header-main h2 {   
    padding: 12px 12px 12px 0px;
    color: var(--black-1);
    font-size: 24px;
    font-weight: 400;
}

.cms-header h2 {   
    padding: 12px 12px 12px 0px;
    color: var(--black-1);
    font-size: 24px;
    font-weight: 400;
}

/*cms-posts*/
.cms-row {
    width: 100%;
    padding-top: 5px;
    margin-bottom: 0px;
    height: 55px;
    border-top: 1px solid var(--grey-5);  
}

.cms-row__top p {
    position: absolute;
    right: 10px;
}

.cms-row__top {
    position: relative;    
    display: flex;
    width: 100%;
}

.cms-row__title {
    margin-bottom: 6px;    font-size: 18px;
}

.cms-row__title h4 {
    margin-bottom: 5px;    
    font-weight: 400;
    color: var(--black-1);
}

.cms-row a {
    color: var(--black-4);
}



.row span {
    font-size: 16px;
}




/*    Create post */
.input {
    display: block;
    margin-bottom: 1em;
}

.title-error {
    display: none;
    color: red;
}

.post-error {
    display: none;
    color: red;
}

select,
textarea {
    width: 100%;
    display: block;
    border: 1px solid #eee;
    padding: 0.25em 0.5em;  
    outline: none;
    background-color: #F8F8F8;
    box-shadow: 0px 2px 0px hsla(0,0%,100%,.15), inset 0px 1px 1px hsla(0,0%,0%,0.1);
}

.inputs {
    width: 100%;
    height: 25px;
    display: block;
    border: 1px solid #eee;
    padding: 0.25em 0.5em;  
    outline: none;
    background-color: #F8F8F8;
    box-shadow: 0px 2px 0px hsla(0,0%,100%,.15), inset 0px 1px 1px hsla(0,0%,0%,0.1);
}

.create-post {    
    margin: auto;
    max-width: 500px;
    min-width: 300px;
    height: 200px; 
}

.cms-header {
    background-color: var(--white);
    color: var(--black-1);    

    margin: auto;    
    max-width: 500px;
    min-width: 300px;
}

.create-post__top {
    display: flex;
    justify-content:  flex-start;
}

.image-upload {
    margin-left: 10px;
}

.create-post__bottom {

}

/*
.create-post--left {
float: left;

width: 100%;
margin-right: 10px;
}

.create-post--right {
float: left;
width: 50%;    
}
*/

.create-post__buttons {  
    float: right;
    position: absolute;
    top: 10px;
    right: 10px;
}

.button--post {       
    background-color: var(--red);
    border: none;
    color: var(--white);
    padding: 8px 22px;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid var(--red);
    border-radius: 3px;
    margin-right: 0px;

}

.button--cancel {       
    background-color: white;
    border: none;
    color: var(--grey-3);
    padding: 8px 22px;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid var(--grey-3);
    border-radius: 3px;    

}

/* cms - social*/
.social-entry {
    max-width: 400px;
    margin-top: 20px;
}

.header-instruction {
    max-width: 450px;
    color: var(--text-gray)
}



/*POST PAGE ONE POST*/
.post-container {
    padding: 10px;
    background-color: white;    
    max-width: 700px;
    margin: auto;
    font-family: 'Vollkorn', serif;
}

.post-container h2{
    font-size: 32px;
    font-weight: 400;
    line-height: 1.1; 
    margin: 30px 0px 30px 0px;
}

.post-body {   
    margin: 0px 30px 30px 0px; 
    font-size: 18px;
    line-height: 1.58;    
    color: var(--text-grey);
}

.author-date {
    font-family: 'Roboto', sans-serif;

}

/*TABLET*/
@media only screen and (min-width: 600px) {

    .panel {
        padding: 10px;   
    }

    .card {
        height: 130px;
    }

    .card__left {
        width: calc(100% - 130px);
        float: left;
        padding-right: 40px;
        line-height: 1.35em;
    }

    .card__title {
        margin-bottom: 8px;
        font-size: 20px;        
    }

    .card__image {
        width: 130px;        
    }


    .card__container {
        width: 130px;
        height: 130px;
        float: right;  
    }

    .card__container__category {
        display: none;
    }

    /*email*/
    .email {
        width: 99%;
        margin-top: 20px;
        margin-right: 5px;
    }

    /*side headers*/
    .side-header {
        width: 99%;
        margin-top: 20px;
        margin-left: 5px;
    }

    .side__left {
        width: 50%;
        float: left;
    }

    .side__right {
        width: 50%;
        float: left;
    }    

    /*side popular posts*/
    .small_card {
        width: 99%;
        margin-left: 5px;
    }

    .small_card__left {
        float: left;
    }

    .small_card__right {
        position: relative;
        width: calc(99% - 110px);

        float: left;
    }

    /*social links*/
    .social {
        margin-left: 5px;
    }

    /*cms*/
    .create-post {    
        margin: auto;
        max-width: 700px;
        min-width: 300px;
        height: 200px;

    }

    .cms-header {
        background-color: var(--white);
        color: var(--black-1);    

        margin: auto;    
        max-width: 700px;
        min-width: 300px;
    }

    .cms-header-main {
        background-color: var(--white);
        color: var(--black-1);    
        margin: auto;    
        max-width: 100%;
        min-width: 300px;
        display: inline-block;
    }

}

@media only screen and (min-width: 700px) { 
    /*POST PAGE ONE POST*/

    .cms-header {
        background-color: var(--white);
        color: var(--black-1);    
        margin: auto;    
        max-width: 700px;
        min-width: 300px;
    }

    .cms-header-main {
        background-color: var(--white);
        color: var(--black-1);    
        margin: auto;    
        max-width: 100%;
        min-width: 300px;
        display: inline-block;
    }


    .post-container h2{
        font-size: 40px;
    }

    .post-body {   
        font-size: 20px; 
    }
}

/*DESKTOP*/
@media only screen and (min-width: 1060px) {

    h1 {
        font-size: 34px;
    }

    h2 {
        font-size: 34px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 20px;

    }

    h5 {
        font-size: 20px;
    }

    h6 {
        font-size: 18px;
    }

    p {
        font-size: 16px;
    }

    /*NAV*/
    nav {    
        background-color: var(--black-1);
    }

    nav h2 {
        padding: 12px 50px 12px 50px;
        margin: 0px;
        color: var(--white);
        font-size: 28px;
    }

    /*header*/
    .header {
        text-align: center;
        padding: 100px 100px;
    }

    /*panel*/
    .panel {
        width: 1040px;
        background-color: var(--white);
        margin: auto;
        display: flex;
        flex-direction: row;
        padding: 0px;  
        height: auto;
    }

    .panel__left {
        float: left;
        padding: 10px;
    }

    .panel__right {
        float: left;
        padding-right: 10px;
    }


    /*card*/
    .card {
        width: 660px;      
        height: 130px;
    }

    .card__title {
        margin-bottom: 8px;
        font-size: 20px;
    }

    .card__body {
        margin-bottom: 15px;
        white-space: pre-wrap;
        overflow: visible;
        height: 100px;        
    }

    .card__author {

    }

    .card__date {

    }

    .card__comments {

    }



    .card__container__category {
        display: none;
    }



    /*email*/
    .email {
        width: 100%;
        margin-top: 10px;
        margin-right: 5px;
    }

    /*side headers*/
    .side-header {
        width: 100%;
        margin-top: 20px;
        margin-left: 0px;
    }

    .side__left {
        width: 100%;
    }

    .side__right {
        width: 100%;
    }    

    /*side popular posts*/
    .small_card {
        width: 100%;
        margin-left: 0px;
    }

    .small_card__left {
        float: left;
    }

    .small_card__right {
        position: relative;
        width: calc(100% - 110px);
        float: left;
    }

    /*social links*/
    .social {
        margin-left: 0px;
    }


    /*    cms*/

    .create-post {    
        margin: auto;
        width: 1050px;
        height: 200px;

    }

    .cms-row__title h4 {
        margin-bottom: 5px;
        font-size: 20px;
        font-weight: 400;
    }

}
.nav__title {

}

.cms-header-top {

}

.nav-link {

}
