.square {
    width: 100px;
    height: 100px;
    background-color: darkgreen;
}

* {
    box-sizing: border-box;
}

:root {
    --main-bg-color: hsla(210, 30%, 96%, 1); 
    --white: hsla(0, 0%, 100%, 1); 
    --black-1: hsla(0, 0%, 14%, 1); 
    --black-2: hsla(0, 0%, 30%, 1); 
    --black-3: hsla(0, 0%, 38%, 1); 
    --black-4: hsla(0, 0%, 45%, 1); 
    --black-5: hsla(0, 0%, 88%, 1); 
    --red: hsla(0, 100%, 65%, 1); 
    --super-light-grey: hsla(0, 0%, 93%, 1);
}
/*var(--main-bg-color)*/


body {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    background-color: aliceblue;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p{
    padding: 0px;
    margin: 0px;
}

h1 {
    font-size: 34px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;

}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 18px;
}

p {
    font-size: 16px;
}

/*NAV*/
nav {    
    background-color: var(--black-1);
}

nav h2 {
    padding: 12px 12px 12px 12px;
    margin: 0px;
    color: var(--white);
}

/*header*/
.header {
    text-align: center;
    padding: 100px 100px;
}

/*panel*/
.panel {
    width: 100%;
    height: 1000px;
    background-color: var(--white);        
}

/*card*/
.card {
    width: 100%;
    height: 170px;
    background-color: beige;
    padding: 10px;
}

.card__title {
    margin-bottom: 10px;
}

.card__body {
    margin-bottom: 15px;
    overflow: hidden!important;
    max-height: 40px!important;
    text-overflow: ellipsis!important;
    display: -webkit-box!important;
    -webkit-line-clamp: 2!important;
    -webkit-box-orient: vertical;
}

.card__author {
    margin-bottom: 2px;

}

.card__date {

}

.card__comments {

}

.card__container {
    width: 100%;
    height: 100px;
    background-color: aquamarine;
    float: right;  
}

.card--left {
    width: 70%;
    background-color: aqua;
    float: left;

}

.card--right {
    padding: 10px;
    width: 30%;
    background-color: royalblue;
    float: right;
    box-sizing: border-box;
}

.card__image {
    float: right;
    object-fit: cover;
    width: 100px;
    overflow: hidden
}

.email {
    width: 100%;
    height: 260px;
    background-color: var( --super-light-grey);
    text-align: center;
    margin-top: 20px;
    padding: 20px;    
}

.email p {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 16px;
}

.email__input {
    display: block;
    margin: auto;
    margin-bottom: 20px; 
    padding: 14px 22px;
    width: 100%;
    border: none;

}

.email__submit {
    display: block;
    margin: auto;

}

input[type=submit] {
    background-color: var(--red);
    border: none;
    color: var(--white);
    padding: 14px 22px;
    text-decoration: none;
    cursor: pointer;
    margin: auto;
    width: 100%;
}

/*side headers*/
.side-header {
    width: 100%;
    height: 44px;
    background-color: var(--black-5);
    margin-top: 30px;
    margin-bottom: 20px;
}

.side-header h6 {
    line-height: 44px;
    text-align: center;
}

/*side popular posts*/
.small_card {
    width: 100%;
    height: 110px;
    
    background-color: bisque;
}

.small_card--left {
    width: 35%;
    background-color: violet;
    height: 110px;
    float: left;
}

.small_card--right {
    position: relative;
    width: 65%;
    background-color: gold;
    height: 110px;
    padding: 10px;
    float: left;
}

.small_card--right h6 {
   font-size: 16px;
    padding-bottom: 10px;
}

.small_card--right p {
  position: absolute;
	bottom: 0px;
}




@media only screen and (min-width: 1050px) {

    h1 {
        font-size: 46px;
    }

    h2 {
        font-size: 34px;
    }

    h3 {
        font-size: 28px;
    }

    h4 {
        font-size: 24px;

    }

    h5 {
        font-size: 20px;
    }

    h6 {
        font-size: 18px;
    }

    p {
        font-size: 16px;
    }

    /*NAV*/
    nav {    
        background-color: var(--black-1);
    }

    nav h2 {
        padding: 12px 100px 12px 100px;
        margin: 0px;
        color: var(--white);
    }

    /*header*/
    .header {
        text-align: center;
        padding: 100px 100px;
    }

    /*panel*/
    .panel {
        width: 1050px;
        height: 1000px;
        background-color: var(--white);
        margin: auto;
    }

    /*card*/
    .card {
        width: 660px;

        background-color: beige;
        padding: 10px;
    }

    .card__title {

    }

    .card__body {
        margin-bottom: 15px;
        white-space: pre-wrap;
        overflow: visible;
    }

    .card__author {

    }

    .card__date {

    }

    .card__comments {

    }


}