* {
    box-sizing: border-box;
}

:root {
    --main-bg-color: hsla(210, 30%, 96%, 1); 
    --white: hsla(0, 0%, 100%, 1); 
    --black-1: hsla(0, 0%, 14%, 1); 
    --black-2: hsla(0, 0%, 30%, 1); 
    --black-3: hsla(0, 0%, 38%, 1); 
    --black-4: hsla(0, 0%, 45%, 1); 
    --black-5: hsla(0, 0%, 88%, 1); 
    --red: hsla(0, 100%, 65%, 1); 
    --super-light-grey: hsla(0, 0%, 93%, 1);
}
/*var(--main-bg-color)*/


body {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    background-color: aliceblue;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p{
    padding: 0px;
    margin: 0px;
}

h1 {
    font-size: 34px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;

}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 18px;
}

p {
    font-size: 16px;
}

/*NAV*/
nav {    
    background-color: var(--black-1);
}

nav h2 {
    padding: 12px 12px 12px 12px;
    margin: 0px;
    color: var(--white);
}

/*header*/
.header {
    text-align: center;
    padding: 100px 100px;
}

/*panel*/
.panel {
    width: 100%;
    height: 1000px;
    background-color: var(--white);     
    padding: 5px;
}

/*card*/
.card {
    position: relative;
    width: 100%;
    height: 150px;
    background-color: beige;
    margin-bottom: 30px;
    
}

.card__title {
    margin-bottom: 10px;
}

.card__body {
    margin-bottom: 10px;
    overflow: hidden!important;
    max-height: 40px!important;
    text-overflow: ellipsis!important;
    display: -webkit-box!important;
    -webkit-line-clamp: 2!important;
    -webkit-box-orient: vertical;
    padding-right: 10px;
}

.card__author {
    margin-bottom: 2px;   
    position: absolute;
    bottom: 5px;    
}

.card__date {

}

.card__comments {

}

.card__container {
    width: 100%;
    height: 100px;
    background-color: aquamarine;
    float: right;  
}

.card__left {
    width: calc(100% - 100px);
    background-color: aqua;
    float: left;

}

.card__right {    
    width: 100px;
    background-color: royalblue;
    float: right;
    box-sizing: border-box;
}

.card__image {
    float: right;
    object-fit: cover;
    width: 100px;
    overflow: hidden;
}

.card__container__category {
    display: none;
}

.side {
    margin: 10px;
}

/*email*/
.email {
    width: 100%;
    height: 260px;
    background-color: var( --super-light-grey);
    text-align: center;
    margin-top: 20px;
    padding: 20px;
}

.email p {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 16px;
}

.email__input {
    display: block;
    margin: auto;
    margin-bottom: 20px; 
    padding: 14px 22px;
    width: 100%;
    border: none;

}

.email__submit {
    display: block;
    margin: auto;

}

input[type=submit] {
    background-color: var(--red);
    border: none;
    color: var(--white);
    padding: 14px 22px;
    text-decoration: none;
    cursor: pointer;
    margin: auto;
    width: 100%;
}

/*side headers*/
.side-header {
    width: 100%;
    height: 44px;
    background-color: var(--black-5);
    margin-top: 30px;
    margin-bottom: 20px;
}

.side-header h6 {
    line-height: 44px;
    text-align: center;
}

/*side popular posts*/
.small_card {
    width: 100%;
    height: 110px;

    background-color: bisque;
}

.small_card__left {
    width: 110px;
    background-color: violet;
    height: 110px;
    float: left;
}

.small_card__right {
    position: relative;
    width: calc(100% - 110px);
    background-color: gold;
    height: 110px;
    padding: 10px;
    float: left;
}

.small_card__right h6 {
    font-size: 16px;

}

.small_card__right p {
    position: absolute;
    bottom: 0px;
    padding-bottom: 5px;
}

/*social links*/
.social {
    display: flex; /* or inline-flex */
    flex-wrap: nowrap;
    background-color: white;
    align-items: stretch;

}


.social > .social__link {
    color: white;
    width: 100px;
    height: 40px;
    margin: 0px 5px 0px 5px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    flex-grow: 1;   
    border: 1px solid var(--black-4);
}

.social__link:first-child {
    margin-left: 0px;
}

.social__link:last-child {
    margin-right: 0px;
}

.social__link__image {
    width: 30px;
    height: 25px;
    vertical-align: super; 
    position: relative;
    top: -5px;
}


@media only screen and (min-width: 600px) {

    .panel {
        padding: 10px;   
    }

    .card__left {
        width: calc(100% - 150px);
        float: left;
    }

    .card__image {
        width: 150px;
    }

    .card__container__category {
        display: none;
    }


    /*email*/
    .email {
        width: 99%;
        margin-top: 20px;
        margin-right: 5px;
    }

    /*side headers*/
    .side-header {
        width: 99%;
        margin-top: 20px;
        margin-left: 5px;
    }

    .side__left {
        width: 50%;
        float: left;
    }

    .side__right {
        width: 50%;
        float: left;
    }    

    /*side popular posts*/
    .small_card {
        width: 99%;
        margin-left: 5px;
    }

    .small_card__left {
        float: left;
    }

    .small_card__right {
        position: relative;
        width: calc(99% - 110px);

        float: left;
    }

    /*social links*/
    .social {
        margin-left: 5px;
    }


}




/*desktop*/
@media only screen and (min-width: 1060px) {

    h1 {
        font-size: 46px;
    }

    h2 {
        font-size: 34px;
    }

    h3 {
        font-size: 28px;
    }

    h4 {
        font-size: 24px;

    }

    h5 {
        font-size: 20px;
    }

    h6 {
        font-size: 18px;
    }

    p {
        font-size: 16px;
    }

    /*NAV*/
    nav {    
        background-color: var(--black-1);
    }

    nav h2 {
        padding: 12px 50px 12px 50px;
        margin: 0px;
        color: var(--white);
        font-size: 28px;
    }

    /*header*/
    .header {
        text-align: center;
        padding: 100px 100px;
    }

    /*panel*/
    .panel {
        width: 1040px;
        height: 1000px;
        background-color: var(--white);
        margin: auto;
        display: flex;
        flex-direction: row;
        padding: 0px;   
    }

    .panel__left {
        float: left;
        padding: 10px;
    }

    .panel__right {
        float: left;
        padding-right: 10px;
    }


    /*card*/
    .card {
        width: 660px;
        background-color: beige;        
        height: 150px;
    }

    .card__title {

    }

    .card__body {
        margin-bottom: 15px;
        white-space: pre-wrap;
        overflow: visible;
        height: 100px;
    }

    .card__author {

    }

    .card__date {

    }

    .card__comments {

    }

    .card__left {
        
        width: calc(100% - 150px);
        float: left;
    }

    .card__image {
        width: 150px;
    }

    .card__container__category {
        display: none;
    }
    


    /*email*/
    .email {
        width: 100%;
        margin-top: 10px;
        margin-right: 5px;
    }

    /*side headers*/
    .side-header {
        width: 100%;
        margin-top: 20px;
        margin-left: 0px;
    }

    .side__left {
        width: 100%;
    }

    .side__right {
        width: 100%;
    }    

    /*side popular posts*/
    .small_card {
        width: 100%;
        margin-left: 0px;
    }

    .small_card__left {
        float: left;
    }

    .small_card__right {
        position: relative;
        width: calc(100% - 110px);
        float: left;
    }

    /*social links*/
    .social {
        margin-left: 0px;
    }




}