<meta charset="UTF-8">
<title>BLOG</title>
<link rel="stylesheet" type="text/css" href="css/stylesheet.css" />
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700|Montserrat:400,500|Vollkorn" rel="stylesheet">       
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>