<nav class="nav"><ul>
    <a href="/"> <li class="nav__title">BLOG</li>  </a>
    <span class="helper"></span>

    <li style="float:right">
        <a href="cms">
            <img src="/images/white-gear-icon.png" />
        </a>
    </li>

    </ul>
</nav>